USE [tText]
GO
/****** Object:  Table [dbo].[PowerLotto]    Script Date: 2018/6/8 下午 11:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerLotto](
	[No] [int] NOT NULL,
	[Date] [date] NULL,
	[Number1] [decimal](2, 0) NULL,
	[Number2] [decimal](2, 0) NULL,
	[Number3] [decimal](2, 0) NULL,
	[Number4] [decimal](2, 0) NULL,
	[Number5] [decimal](2, 0) NULL,
	[Number6] [decimal](2, 0) NULL,
 CONSTRAINT [PK_M38] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PowerLotto] ([No], [Date], [Number1], [Number2], [Number3], [Number4], [Number5], [Number6]) VALUES (107000001, CAST(N'2018-01-01' AS Date), CAST(13 AS Decimal(2, 0)), CAST(15 AS Decimal(2, 0)), CAST(16 AS Decimal(2, 0)), CAST(30 AS Decimal(2, 0)), CAST(32 AS Decimal(2, 0)), CAST(37 AS Decimal(2, 0)))
INSERT [dbo].[PowerLotto] ([No], [Date], [Number1], [Number2], [Number3], [Number4], [Number5], [Number6]) VALUES (107000002, CAST(N'2018-01-04' AS Date), CAST(2 AS Decimal(2, 0)), CAST(12 AS Decimal(2, 0)), CAST(21 AS Decimal(2, 0)), CAST(24 AS Decimal(2, 0)), CAST(34 AS Decimal(2, 0)), CAST(37 AS Decimal(2, 0)))
INSERT [dbo].[PowerLotto] ([No], [Date], [Number1], [Number2], [Number3], [Number4], [Number5], [Number6]) VALUES (107000003, CAST(N'2018-01-08' AS Date), CAST(3 AS Decimal(2, 0)), CAST(6 AS Decimal(2, 0)), CAST(11 AS Decimal(2, 0)), CAST(26 AS Decimal(2, 0)), CAST(31 AS Decimal(2, 0)), CAST(38 AS Decimal(2, 0)))
