USE [tText]
GO
/****** Object:  Table [dbo].[tMe]    Script Date: 2019/2/25 下午 05:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMe](
	[No] [int] NOT NULL,
	[Date] [date] NULL,
	[Number1] [decimal](2, 0) NULL,
	[Number2] [decimal](2, 0) NULL,
	[Number3] [decimal](2, 0) NULL,
	[Number4] [decimal](2, 0) NULL,
	[Number5] [decimal](2, 0) NULL,
 CONSTRAINT [PK_tMe] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tMe] ([No], [Date], [Number1], [Number2], [Number3], [Number4], [Number5]) VALUES (104000103, CAST(N'2015-04-30' AS Date), CAST(1 AS Decimal(2, 0)), CAST(5 AS Decimal(2, 0)), CAST(6 AS Decimal(2, 0)), CAST(15 AS Decimal(2, 0)), CAST(28 AS Decimal(2, 0)))
INSERT [dbo].[tMe] ([No], [Date], [Number1], [Number2], [Number3], [Number4], [Number5]) VALUES (104000104, CAST(N'2015-05-01' AS Date), CAST(4 AS Decimal(2, 0)), CAST(5 AS Decimal(2, 0)), CAST(11 AS Decimal(2, 0)), CAST(13 AS Decimal(2, 0)), CAST(18 AS Decimal(2, 0)))
INSERT [dbo].[tMe] ([No], [Date], [Number1], [Number2], [Number3], [Number4], [Number5]) VALUES (104000105, CAST(N'2015-05-02' AS Date), CAST(18 AS Decimal(2, 0)), CAST(21 AS Decimal(2, 0)), CAST(23 AS Decimal(2, 0)), CAST(35 AS Decimal(2, 0)), CAST(37 AS Decimal(2, 0)))
GO
